interactions:
- request:
    body: null
    headers: {}
    method: POST
    uri: https://jira.clutch.co/rest/api/2/issue/TRAC-137/worklog
  response:
    body:
      string: '{"self":"https://jira.clutch.co/rest/api/2/issue/19455/worklog/57396","author":{"self":"https://jira.clutch.co/rest/api/2/user?username=wintercitizen","name":"wintercitizen","key":"wintercitizen","emailAddress":"daniil@maddevs.io","avatarUrls":{"48x48":"https://jira.clutch.co/secure/useravatar?ownerId=wintercitizen&avatarId=11019","24x24":"https://jira.clutch.co/secure/useravatar?size=small&ownerId=wintercitizen&avatarId=11019","16x16":"https://jira.clutch.co/secure/useravatar?size=xsmall&ownerId=wintercitizen&avatarId=11019","32x32":"https://jira.clutch.co/secure/useravatar?size=medium&ownerId=wintercitizen&avatarId=11019"},"displayName":"Daniil
        Fedyaev","active":true,"timeZone":"Asia/Bishkek"},"updateAuthor":{"self":"https://jira.clutch.co/rest/api/2/user?username=wintercitizen","name":"wintercitizen","key":"wintercitizen","emailAddress":"daniil@maddevs.io","avatarUrls":{"48x48":"https://jira.clutch.co/secure/useravatar?ownerId=wintercitizen&avatarId=11019","24x24":"https://jira.clutch.co/secure/useravatar?size=small&ownerId=wintercitizen&avatarId=11019","16x16":"https://jira.clutch.co/secure/useravatar?size=xsmall&ownerId=wintercitizen&avatarId=11019","32x32":"https://jira.clutch.co/secure/useravatar?size=medium&ownerId=wintercitizen&avatarId=11019"},"displayName":"Daniil
        Fedyaev","active":true,"timeZone":"Asia/Bishkek"},"comment":"test","created":"2022-05-08T19:02:51.245+0000","updated":"2022-05-08T19:02:51.245+0000","started":"2022-05-09T01:02:50.000+0000","timeSpent":"1m","timeSpentSeconds":60,"id":"57396","issueId":"19455"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - https://jira.clutch.co/rest/api/2/issue/19455/worklog/57396
      X-Arequestid:
      - 1142x3229313x1
      X-Asessionid:
      - 1nc4y9i
      X-Ausername:
      - wintercitizen
      X-Seraph-Loginreason:
      - OK
    status:
      code: 201
      message: Created
    url: https://jira.clutch.co/rest/api/2/issue/TRAC-137/worklog
version: 1
